apiVersion: v1
kind: Service
metadata:
  name: kasm
  namespace: kasm
  labels:
    app: kasm
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: kasm

